

#left {
  
   padding-left: 20px;
   padding-right: 20px;
}

#hands {
 height:30px; 
 width:50px; 
 border:1px solid #ccc;
 font:16px/26px Georgia, Garamond, Serif;
 overflow:auto;
 text-align:center;

margin-right:20px;
}


